# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
debug_urls.py

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static and Media
staticfiles/
media/

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
DEPLOYMENT.md
QUICKSTART.md
verify_data.py
